@use '../utils/' as *;

button {
  border: none;
  background-color: transparent;
}

// 메인페이지
.main-posts-species {
  text-align: center;
  vertical-align: middle;
  width: rem(105px);
  height: rem(31px);
  line-height: rem(31px);
  color: $white;
  border-radius: rem(20px);
  margin-top: rem(5px);
  margin-bottom: rem(15px);
}
.species {
  &-cat {
    background-color: #57643c;
  }
  &-dog {
    background: $navy;
  }
  &-etc {
    background-color: #bb89cd;
  }
}

// 회원가입 , 로그인 버튼 요소들

.sign-up-btn,
.sign-in-btn,
.sign-up-link {
  width: rem(401px);
  height: rem(71px);
  border: none;
  border-radius: rem(10px);
  background-color: $navy;
  padding: 0;

  font-size: rem(30px);
  font-weight: 500;
  color: $white;

  &:disabled {
    background-color: #d7d7d7;
  }
}
.sign-up-link {
  text-align: center;
  a {
    color: $white;
  }
}
.check-duplicated {
  background-color: $navy;
  width: rem(85px);
  height: rem(35px);

  border: none;
  border-radius: rem(20px);

  color: $white;
  font-size: rem(16px);
  font-weight: 500;

  &:disabled {
    color: #f3f3f3;
    background-color: #a1a7b6;
  }
}

// 마이페이지
.profile__posting-edit,
.profile__posting-del {
  width: rem(90px);
  height: rem(35px);
  color: $white;
  border-radius: rem(30px);
  font-weight: 600;
  padding: 0;
  font-size: rem(18px);
}
.profile__posting {
  &-edit {
    display: inline-block;
    background-color: #a1a7b6;
    line-height: rem(35px);
    text-align: center;
  }
  &-del {
    background-color: $red;
    border: none;
  }
}

.profile__edit {
  position: absolute;
  right: 3%;
  top: 8%;

  font-size: rem(20px);
  width: rem(96px);
  height: rem(40px);

  border: none;
  background-color: #c1bdbd;
  border-radius: rem(10px);

  color: $white;
}

.button__reset {
  border: 0;
  background: none;
}
