@use '../../utils/' as *;

.sign-up-form-info,
.sign-in-form-info {
  position: relative;

  & > label {
    @include pos($pos: absolute, $t: 0, $l: rem(16px));
    color: $darkgray;
    font-size: rem(20px);
    font-weight: bold;
  }

  & > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $gray;
    padding: 0 rem(50px) rem(20px) rem(130px);
    margin-bottom: rem(52px);
    font-size: rem(18px);
    font-weight: 400;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  .fas {
    position: absolute;
    top: rem(5px);
    right: rem(10px);
  }

  select {
    width: rem(150px);
    height: rem(35px);

    background-color: $container-gray;
    border: none;
    border-radius: rem(10px);
    text-indent: rem(10px);
  }
}
