@use '../utils/' as *;

.detail {
  background-color: beige;
  width: rem(930px);
  margin-left: auto;
  margin-right: auto;

  &__info {
    display: flex;
    justify-content: space-between;
    align-content: center;
    &-title {
      font-size: rem(30px);
      font-weight: 700px;
      letter-spacing: rem(-1px);
    }
    &-container {
      color: $darkgray;
    }
    &-writer {
      text-align: center;
      margin-bottom: rem(5px);
    }
  }

  &__city {
    font-size: rem(25px);
    font-weight: 700;
    color: $darkgray;
  }
}
