@use '../utils' as *;

.body {
  header {
    text-align: center;
    @include paddingY(48px);
    a {
      display: block;
      @include paddingY(10px);
    }
  }

  section {
    @include autoMargin;
  }
}

.signin-form {
  padding-bottom: rem(48px);

  @include autoMargin;
  width: rem(335px);
  @include mobile {
    width: 100%;
    max-width: 335px;
  }
  &-label {
    position: absolute;
  }

  &-info {
    width: rem(335px);
    height: rem(58.8px);
    margin-bottom: rem(16px);
    display: flex;
    position: relative;
    @include mobile {
      width: 100%;
      max-width: rem(335px);
    }
    input {
      flex-grow: 1;
      padding-top: rem(13px);
      border: none;
      background-color: transparent;
      border-bottom: 1px solid rgb(160, 160, 160);

      &:focus {
        outline: none;
        border-bottom: 1px solid blue;

        & + label {
          top: 10%;
          // @include font-12px;
        }
      }

      &:invalid {
        outline: none;
        border-bottom: 1px solid blue;

        & + label {
          top: 10%;
        }
      }
    }

    label {
      transition: all 0.2s ease-in-out;
      font-size: rem(14px);
      font-family: 'Spoqa Han Sans Neo';
      top: 50%;
      transform: translateY(-50%);
      color: rgb(160, 160, 160);
    }
  }

  &-auto-find {
    display: flex;
    justify-content: space-between;
    margin-top: rem(32px);
    width: 100%;
    // @include font-12px;
    align-items: center;

    input {
      width: rem(17px);
      height: rem(17px);
    }

    .auto-login {
      display: flex;
      align-items: center;
    }

    a {
      display: inline-block;
      color: $black;
    }
  }

  &-button {
    margin-top: rem(30px);
    @include paddingY(8px);
    @include paddingX(12px);

    background-color: rgb(197, 197, 197);
    color: $white;
    // @include font-16px-B;
    width: 100%;
    border: none;
    border-radius: rem(10px);
    line-height: rem(30px);
  }

  &-more {
    margin-top: 32px;
    text-align: center;
    // @include font-12px;

    a {
      color: $black;
      padding: rem(8px);
    }
  }
}
