@use '../utils' as *;

.sign-in {
  width: rem(694px);
  height: rem(699px);
  text-align: center;
  @include autoMargin();

  .sign-in-form-auto-find {
    display: flex;
    justify-content: space-between;
    color: $darkgray;
    font-size: rem(20px);

    .find-password {
      border: none;
      font-size: rem(20px);
    }
  }

  .sign-in-form-btns {
    button {
      display: block;
      @include autoMargin();
    }
  }
}
