@use '../utils' as *;

.footer {
  background-color: $navy;
  color: $white;
  width: 100%;
  height: rem(145px);
  margin-top: rem(100px);
  position: relative;
  // transform: translateY(-100%);

  &__info {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px white;
    padding-top: rem(35px);
    padding-left: rem(60px);
    padding-bottom: rem(50px);
    line-height: rem(30px);
  }

  &__list {
    display: flex;
    @include pos($t: rem(24px), $r: rem(10px));
  }

  a {
    text-decoration: none;
    color: $white;
  }

  li {
    @include paddingX(15px);
  }

  li:not(:last-child) {
    border-right: 2px solid white;
  }
}
