@use '../../utils/' as *;

.sign-in,
.sign-up {
  background-color: $container-gray;
  border-radius: rem(30px);
  width: rem(1112px);
  height: auto;
  padding: rem(30px) rem(209px);
}

.profile__form {
  position: relative;
  background-color: $container-gray;
  width: rem(1112px);
  border-radius: rem(30px);
  padding: rem(60px) rem(359px) rem(60px) rem(92px);
  margin-left: auto;
  margin-right: auto;
}
